body {
  color: aliceblue;
  align-items: center;
  text-align: center;
}

#event_map {
  width: 50%;
}

.main-title .title {
  color: #ffa31a;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center; /* Colore per il primo titolo */
}

.date {
  color: #ffa31a;
  font-size: 1.5rem; /* Colore per le date */
}

.email {
  color: #ffa31a;
  font-size: 1.5rem; /* Colore per l'email */
}
p {
  font-size: 1.5rem;
}
